/* .font {
  font-family: "Anton", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Sacramento", cursive;
  font-family: "Teko", sans-serif;
  font-family: "Vollkorn", serif;
}
*/



.bowofade {
  font-family: "Lobster", cursive;
  font-size: 5vw;
}
.bowofade2 {
  font-family: "Vollkorn", sans-serif;
  font-size: 5vw;
  
}
p.italic {
  font-family: "Vollkorn", serif;
  font-size: 3vw;
}

a.work {
  font-family: "Anton" sans-serif;
}
/* @font-face {
  font-family: "Anton", "sans-serif";
  src: url("../fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "Lobster", cursive;
  src: url("../fonts/Lobster-Regular.ttf");
}
@font-face {
  font-family: "Oswand", "sans-serif";
  src: url("../fonts/Oswald-Bold.ttf");
  src: url("../fonts/Oswald-ExtraLight.ttf");
  src: url("../fonts/Oswald-Light.ttf");
  src: url("../fonts/Oswald-Medium.ttf");
  src: url("../fonts/Oswald-Regular.ttf");
  src: url("../fonts/Oswald-SemiBold.ttf");
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Sacramento", "cursive";
  src: url("../fonts/Sacramento-Regular.ttf");
}
@font-face {
  font-family: "Teko", "sans-serif";
  src: url("../fonts/Teko-Bold.ttf");
  src: url("../fonts/Teko-Light.ttf");
  src: url("../fonts/Teko-Medium.ttf");
  src: url("../fonts/Teko-Regular.ttf");
  src: url("../fonts/Teko-SemiBold.ttf");
}
@font-face {
  font-family: "Vollkorn", "serif";
  src: url("../fonts/Vollkorn-Black.ttf");
  src: url("../fonts/Vollkorn-BlackItalic.ttf");
  src: url("../fonts/Vollkorn-Bold.ttf");
  src: url("../fonts/Vollkorn-BoldItalic.ttf");
  src: url("../fonts/Vollkorn-ExtraBold.ttf");
  src: url("../fonts/Vollkorn-ExtraBoldItalic.ttf");
  src: url("../fonts/Vollkorn-Italic-VariableFont_wght.ttf");
  src: url("../fonts/Vollkorn-Italic.ttf");
  src: url("../fonts/Vollkorn-Medium.ttf");
  src: url("../fonts/Vollkorn-MediumItalic.ttf");
  src: url("../fonts/Vollkorn-Regular.ttf");
  src: url("../fonts/Vollkorn-SemiBold.ttf");
  src: url("../fonts/Vollkorn-SemiBoldItalic.ttf");
  src: url("../fonts/Vollkorn-VariableFont_wght.ttf"); */